<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css"/>
    <link rel="stylesheet" th:href="@{/css/style.default.css}">
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    <style>
      /*body{*/
        /*background: url(./images/);*/
      /*}*/
    </style>
  </head>
  <body>
    <div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                    <h1>欢迎登录</h1>
                  </div>
                  <p>计算机学院文档管理与快速定位系统</p>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center">
                <div class="content">
                  <form  id="from">
                    <div class="form-group">
                      <input  type="text" id="username" name="username" required data-msg="请输入用户名" placeholder="请输入用户名" class="input-material">
                    </div>
                    <div class="form-group">
                      <input  type="password" id="password"  name="password" required data-msg="请输入密码" placeholder="请输入密码" class="input-material">
                    </div>

                  </form>
                  <button id="login"  class="btn btn-primary"  onclick="Login()">登录</button>
                  <br />

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="https://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script>
  $("#username").blur(function () {
    var username= $("#username").val();
    var data={"username": username}
    $.ajax({
      url: "user/check",
      data:JSON.stringify(data),
      type: "post",
      dataType: "json",
      contentType: "application/json;charset=UTF-8",
      success: function (data) {
        if (data.msg == 0) {
          layer.msg('该用户已被管理员禁用')
        }else if (data.msg == 1) {
          layer.msg('该用户不存在')
        }
        return;
      }
    });
  })

  function Login() {
    var username = $('#username').val();
    var password = $('#password').val();
    var data = '{"username":"' + username + '","password":"' + password + '"}';
    if (username == "") {
      layer.msg('用户名不能为空', function(){});
      return;
    }
    if (password == "") {
      layer.msg('密码不能为空', function(){});
      return;
    }
    $.ajax({
      url: "user/login",
      contentType: "application/json;charset=UTF-8",
      data: data,
      dataType: "json",
      type: "post",
      success: function (data) {
        if (data.msg != 0) {
          window.location.href = "index";
        } else {
          layer.msg('用户名或密码错误', function(){});
        }
        return;
      }
    });
  }

  layui.use('layer', function () {
    var $ = layui.jquery,
            layer = layui.layer;
  });
</script>
  <span id="tip"></span>
  </body>
</html>