<!DOCTYPE html >
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="http://www.itxst.com/package/bootstrap-table-1.14.1/jquery-3.3.1/jquery.js"></script>
    <link href="http://www.itxst.com/package/bootstrap-4.3.1/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css"/>
    <link href="http://www.itxst.com/package/bootstrap-table-1.15.3/bootstrap-table.css" rel="stylesheet"/>
    <script src="http://www.itxst.com/package/bootstrap-table-1.15.3/bootstrap-table.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    <title>Bootstrap Table getSelections例子</title>
    <style>
        .table-demo {
            width: 97%;
            margin: 30px auto 0px auto;
        }
    </style>
    <script>
        function add() {
            var form = $('#formAdd').serialize();  //序列化内容
            var data = decodeURIComponent(form, true); //将数据解码
            $.ajax({
                url: 'student/add',
                type: 'post',
                data: data,
                success: function (data) {
                    if (data.msg) {
                        layer.alert('添加成功', {
                            icon: 1,
                            skin: 'layer-ext-moon'
                        })
                    } else {
                        layer.alert('添加失败', {
                            icon: 2,
                            skin: 'layer-ext-moon'
                        })
                    }
                }
            });
        };
    </script>

</head>
<body>
<div id="toolbar">
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn-danger" data-toggle="modal" data-target="#myModal">上传</button>
    </div>
</div>
<div class="table-demo">
    <table id="table" class="text-center"></table>
</div>
<script>

    //这段必须放在表格初始化之前。
    function addFunctionAlty(value, row, index) {
        return [
            '<button id="unbind" type="button" class="layui-btn layui-btn-normal">预览</button>',
            '<button id="bind" type="button" class="layui-btn layui-btn-normal">删除</button>',
        ].join('');
    }

    window.operateEvents = {
        'click #bind': function (e, value, row, index) {
            layer.confirm('您确定要删除吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                $.ajax({
                    url: 'file/delete?id=' + row.id,
                    type: 'get',
                    success: function (data) {
                        if (data.msg) {
                            layer.alert('删除成功', {
                                icon: 1,
                                skin: 'layer-ext-moon'
                            })
                            $('#table').bootstrapTable('refresh');//刷新当前表格数据
                        } else {
                            layer.alert('删除失败', {
                                icon: 2,
                                skin: 'layer-ext-moon'
                            })
                        }
                    }
                });
            }, function () {

            });

        }, 'click #unbind': function (e, value, row, index) {
           window.open("/upload/"+row.path)
        }
    };

    // 设置需要显示的列
    var columns = [{
        field: "checked",
        title: '编号',
        checkbox: true
    }, {
        field: 'name',
        title: '文件名',
    }, {
        field: 'operator',
        title: '上传人',
    }, {
        field: 'type',
        title: '文件格式',
    }, {
        field: 'size',
        title: '文件大小',
    }, {
        field: 'uploadtime',
        title: '上传时间',
    }, {
        field: 'operate',
        title: '操作',
        events: operateEvents,//给按钮注册事件
        formatter: addFunctionAlty//表格中增加按钮  
    }];


    $('#table').bootstrapTable({
        url: 'file/findMyAll',
        pagination: true,//开启分页
        search: true, //开启刷选
        columns: columns,
        pageSize: 10,
        cache: false, // 设置为 false 禁用 AJAX 数据缓存， 默认为true
        pageList: [10, 25, 50],
        pageNumber: 1, // 首页页码
        maintainSelected: true,
        striped: true,  //表格显示条纹，默认为false
        clickToSelect: true,//是否启用点击选中行
        locale: 'zh-CN',//中文支持,
        toolbar: "#toolbar"
    });

    function getSels() {
        var rows = $('#table').bootstrapTable('getSelections');
        var a = JSON.stringify(rows)
        var r = JSON.parse(a);
        alert(r[0].id)
    }
</script>

<!-- 上传模态框 -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">选择文件</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <form class="layui-form" id="formimport">
                    <div style="text-align: center">
                        <div class="layui-upload-drag" id="test10">
                            <i class="layui-icon"></i>
                            <p>点击上传，或将文件拖拽到此处</p>
                        </div>
                    </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>


</body>
<script>
    layui.use('form', function () {
        var form = layui.form;
    });
    layui.use('layer', function () {
        var $ = layui.jquery,
            layer = layui.layer;
    });

    layui.use('upload', function () {
        upload = layui.upload;
        upload.render({
            elem: '#test10'
            , url: 'file/upload'
            , accept: 'file' //普通文件
            , done: function (res) {
                $('#myModal').modal('hide')
                layer.alert('上传成功', {
                    icon: 1,
                    skin: 'layer-ext-moon',
                    anim: 4 //动画类型
                })
                $('#table').bootstrapTable('refresh');//刷新当前表格数据
            }
            , error: function () {
                $('#myModal2').modal('hide')
                layer.alert('上传失败', {
                    icon: 2,
                    skin: 'layer-ext-moon',
                    anim: 4 //动画类型
                })
            }
        });
    });

</script>
</html>